<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>CallRec</string>
    <key>CFBundleIdentifier</key>
    <string>com.callrec.driver</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>CallRec Driver</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>AudioServerPlugIn_MachServices</key>
    <array>
        <string>com.callrec.driver</string>
    </array>
    <key>AudioServerPlugIn_FactoryFunction</key>
    <string>CallRecDriverCreate</string>
</dict>
</plist>
